# This is the place for any dynamic variable declarations (e.g. PATH modifications).
# This file is read by direnv (https://direnv.net/) and uses BASH syntax.
# However, changes made to the environment are shell-agnostic.

source_url "https://raw.githubusercontent.com/cachix/devenv/d1f7b48e35e6dee421cfd0f51481d17f77586997/direnvrc" "sha256-YBzqskFZxmNb3kYVoKD9ZixoPXJh1C9ZvTLGFRkauZ0="

# Modify PATH to make project-specific executables available in your shell.
PATH_add bin
PATH_add node_modules/.bin

export AMP_SETTINGS_FILE=.amp/settings.json

# Load .env file if it exsts
if [ -e .env ]; then
    dotenv
fi

use devenv
